extends layout

block content
  h1 Welcome to #{title}

  body
    form(method="post" action="/")
      div.form
        input(type="text", name="task" placeholder="enter task")
        input(type="submit")
    form(method="post" action="/modify")
      h3 Tasks
      for task in tasks
        if task.complete
          div
            input.checkbox(name="task" value=task.id type="checkbox")
            span(class="completed")= task.task
        else
          div
            input.checkbox(name="task" value=task.id type="checkbox")
            span(name="edit" type="edit")= task.task
      div
        button(name="complete" type="complete") complete
        button(name="delete" type="delete") delete
