extends layout

block content
  p
    span(class="title") Welcome to
      span(class="title2")  #{title}

  body
    form(method="post" action="/")
      div.form
        input(type="text", name="task" placeholder="enter task")
        input(type="submit")
    form(method="post" action="/modify")
      h3 Tasks
      for task in tasks
        if task.complete
          div
            input.checkbox(name="task" value=task.id type="checkbox" class="checkbox")
            span(class="completed")= task.task
        else
          div
            input.checkbox(name="task" value=task.id type="checkbox" class="checkbox")
            span(name="edit" class="incomplete" type="edit" contenteditable="false")= task.task
      br
      div
        button(name="complete" type="complete") complete
        button(name="delete" type="delete") delete
